.title {
    text-align: center;
    color: red;
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

.body {
    text-align: center;
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
